$hl-appbar-color: #dee2e6 !default;
$hl-appbar-active: $o-brand-primary !default;
$hl-appbar-background: #111827 !default;

$hl-sidebar-large-width: 146px !default;
$hl-sidebar-small-width: 46px !default;
